<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <h1>
        <%= text %>
    </h1>
    <p>
        /bdd pour accéder aux dernier % entrés
    </p>
    <p>
        /bdd2 pour accéder au EC des différents moyens de transports
    </p>
    <p>
        /bdd3 pour accéder au 2 données qui serviront au calculs
    </p>
    <p>
        /bdd4 pour accéder aux infos de la ville (qui seront initaliser grace à bdd3)
    </p>
</body>
</html>