<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Server 2</title>
</head>
<body>
    <p> Moi je calcule, et puis c'est tout :)</p>
    <p> E.C de la ville de la dernière simulation :<%= text %> </p>
    
</body>
</html>